table {
    width: 25%;
}

table, td {
    border: 1px solid black;
    text-indent: 16px;
    height: 30px;
}

.col1-row1 {
    background-color: black;
    color: white;
}

.row2 {
    background-color: green;
    color: white;
}

.col-row-2-3 {
    text-align: left;
}

.col4-row4 {
    background-color: red;
    color: white;
}


 